[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
# Instala todas as dependências (incluindo devDependencies) necessárias para o build
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx prisma generate && npx prisma migrate deploy && npm run start:prod"
