[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = [
  "PRISMA_GENERATE_SKIP_AUTOINSTALL=1 npm ci --include=dev",
  # Gera Prisma Client ANTES do build
  "npx prisma generate"
]

[phases.build]
cmds = ["npm run build"]

[start]
# Agora sรณ aplica migrate e inicia o dist
cmd = "npx prisma migrate deploy && node dist/src/main"
